body {
	background: #f3f4f5;
	/* Disables pull-to-refresh but allows overscroll glow effects. */
	overscroll-behavior: none;
	overscroll-behavior-y: none;
}



[v-cloak] { display: none; }

.section {
	padding: 1.5rem;
}

.min-width {
	min-width: 160px;
}

.card {
	margin-top: 1rem;
}

.card-content {
	padding: 0.5rem 0;
	text-align: center;
}

.logo {
	display: flex;
	align-items:center;
 }

h1 {
	padding-left: 1rem;
}

img {
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

/* Otherwise more indented than title */
.hero-body {
	padding: 1.5rem 0rem;
}

.lila {
	border-color: #6257c4 !important;
	background-color: #6257c4 !important;
	box-shadow: 0 4px 12px -2px rgba(98,87,196,.4) !important;
	font-weight: 700;
}

.selected-count {
	padding: 0.15rem 0 0.5rem;
}

.err {
	color: red;
	padding: 0.5rem 0 0 0;
}

@media only screen and (min-width: 500px) {
	#app {
		width: 480px;
		margin: 0 auto;
	}
 }
