body {
	/* background: #f3f4f5; */
	/* Disables pull-to-refresh but allows overscroll glow effects. */
	background: #f3f4f5;
}

.bg {
	height: 100%;
	widht: 100%;
	background: #f3f4f5;
}

[v-cloak] { display: none; }

.dark {
	/* background: #1d144d; */
	background: #26292e;
	color: #ffe69e;
}

.section {
	padding: 1.5rem;
}

.width-160 {
	min-width: 160px;
}

/* LOGO */
a.logo {
	display: flex;
	align-items:center;
 }

 h1 {
	padding-left: 1rem;
}

img {
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

.lila {
	border-color: #6257c4 !important;
	background-color: #6257c4 !important;
	box-shadow: 0 4px 12px -2px rgba(98,87,196,.4) !important;
	font-weight: 700;
}

.deleteGame {
	margin-top: 2rem;
}

.hero-body {
	padding: 1.5rem 0rem;
}


.selected-count {
	padding: 0.15rem 0 0.5rem;
}

.err {
	color: red;
	padding: 0.5rem 0 0 0;
}


/* SCOREBOAD HEADER */
.scoreboard {
	padding: 0;
}

p.light {
	color: #fff !important;
}

.par {
	color: #3d82ec !important;
}

.par-minus {
	padding-right: 1rem;
}
.par-plus {
	padding-left: 1rem;
}

.parValue {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.hero-body .container .card:first-child {
	margin-top: 0rem;
}

.hero-body .container .card:nth-child(even) {
	background: #2f333b;
}
/* SCORECARD */
.card {
	margin-top: 1.5rem;
	/* background: #242f69; */
	background: #1f2227;
	box-shadow:  inset 0 0 10px rgba(0, 0, 0, 0.75);
}

a.delete {
	vertical-align: middle;
}

.card-footer {
	border-color: #5e6dab;
	border: 0;
}

.card-content {
	padding: 0.5rem 0;
	text-align: center;
}

a.button.card-footer-item {
	/* background: #242f69; */
	/* background: #1e2d48; */
	background: #1f2838;
	color: #f1f1f1 !important;
	border-color: rgba(0,0,0,0.5);

}

.inc, .dec {
	font-weight: 900;
	font-size: 1.15rem;
	height: 2.5rem;
}

.level-item .subtitle, .level-item .title {
	font-size: 2rem !important;
}

.id {
	font-size: 1rem !important;
}

.data {
	color: #dae2e5;
	font-size: 1.5rem;
}

.name {
	font-weight: 700;
	color: #e1cf86
}

.name, .total, .sign {
	font-size: 1rem;
}
.current {
	color: #fff;
	font-weight: 900;
}

.navbar {
	background: #000 !important;
}

@media only screen and (min-width: 500px) {
	#app .section {
		width: 480px;
		margin: 0 auto;
	}
 }
