body {
	/* background: #f3f4f5; */
	/* Disables pull-to-refresh but allows overscroll glow effects. */
	background: #f3f4f5;
}

.bg {
	height: 100%;
	width: 100%;
	background: #f3f4f5;
}

[v-cloak] { display: none; }

.dark {
	/* background: #1d144d; */
	/* background: #26292e; */
	background: #1b233a;
	color: #ffe69e;
}

.section {
	padding: 1.5rem;
}

.width-160 {
	min-width: 160px;
}

/* LOGO */
a.logo {
	display: flex;
	align-items:center;
 }

 h1 {
	padding-left: 1rem;
}

img {
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

.lila {
	border-color: #6257c4 !important;
	background-color: #6257c4 !important;
	box-shadow: 0 4px 12px -2px rgba(98,87,196,.4) !important;
	font-weight: 700;
}

.deleteGame {
	margin-top: 2rem;
}

.hero-body {
	padding: 1.5rem 0rem;
}


.selected-count {
	padding: 0.15rem 0 0.5rem;
}

.err {
	color: red;
	padding: 0.5rem 0 0 0;
}


/* SCOREBOAD HEADER */
.else {
	padding-bottom: 3rem;
}
.scoreboard {
	padding: 0;
}

p.light {
	color: #fff !important;
}

.par {
	color: #3d82ec !important;
}

.par-minus {
	color: #ff8570 !important;
	padding-right: 1rem;
}
.par-plus {
	color: #a7df6c !important;
	padding-left: 1rem;
}

.par-minus, .par-plus, .exit {
	cursor: pointer;
}

.exit {
	color: #d44c4c;
}

.parValue {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.hero-body .container .card:first-child {
	margin-top: 0rem;
}

/* .hero-body .container .card:nth-child(even) {
	background: #2c4b58;
} */
/* SCORECARD */

nav.info {
border-bottom: 5px solid;
  /* border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)); */
  border-image-source: linear-gradient(45deg, #8a57ff, #1eedfe);
  border-image-slice: 1;
  padding-bottom: 1rem;
}

.delete {
	vertical-align: middle;
	margin: 0 0 0 0.5rem;
}


.card {
	margin-top: 1.5rem;
	/* background: #242f69; */
	/* background: #34406f; */
	background: linear-gradient(#34406f, #293458);
	/* 293458 */
	/* box-shadow:  inset 0 0 10px rgba(0, 0, 0, 0.75); */
	/* box-shadow:  0 0 10px 0 rgba(255, 255, 255, 0.35); */
	/* border-radius: 4px; */
	/* border: 1px solid rgba(255, 255, 255, 0.4); */
	/* border-bottom: 1px solid rgba(0,0,0, 0.4); */
}

.name {
	font-weight: 700;
	color: #fff;
}

.name, .total, .sign {
	font-size: 1rem;
}
.current {
	/* color: #1eedfe; */
	font-weight: 900;
}

.round {
	border-radius: 50% !important;
	/* border: 1px solid rgba(0,0,0,0.9); */
	/* background: linear-gradient(135deg, #62a8ff, #5146ff); */
	background: #62a8ff;
	border: 0 !important;
	color: #fff;
}

.card-footer {
	border-color: #5e6dab;
	border: 0;
}

.card-content {
	padding: 0.5rem 0;
	text-align: center;
}

a.button.card-footer-item {
	/* background: #242f69; */
	/* background: #1e2d48; */
	background: #1f2838;
	color: #f1f1f1 !important;
	border-color: rgba(0,0,0,0.5);

}

.inc, .dec {
	font-weight: 900;
	font-size: 1.15rem;
	height: 2.5rem;
	border-radius: 0;
}

.exit {
	color: #da8e7d;
}

.level-item .subtitle, .level-item .title {
	font-size: 2rem !important;
}

.id {
	font-size: 1rem !important;
}

.data {
	color: #dae2e5;
	font-size: 1.5rem;
	text-align: left;
}

.fa-star {
	color: #ffd559;
}



.navbar {
	background: #382555 !important;
	border: 1px solid #8058bc;
	align-items: center;
	display: block;
}

.no-pad {
	padding: 0.5rem 0 0.5rem !important;
}

.nav-button {
	color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.7);
    font-weight: 600;
    border-radius: 4px;
    background: #0073e8;
    background: linear-gradient(135deg, #00bec7, #0073e8);
    transition: all 0.2s ease;
    /* width: 200px; */
}

.navbar .nav-button:first-child {
	margin-right: 0.25rem;
}
.navbar .nav-button:last-child {
	margin-left: 0.25rem;
}

@media only screen and (min-width: 500px) {
	#app .section {
		width: 480px;
		margin: 0 auto;
	}
 }
