body {
	/* background: #f3f4f5; */
	/* Disables pull-to-refresh but allows overscroll glow effects. */
	overscroll-behavior: none;
	overscroll-behavior-y: none;
}

.app {
	background: #f3f4f5;
}

.dark {
	background: #1d144d;
	color: #ffe69e;
}

[v-cloak] { display: none; }

.section {
	padding: 1.5rem;
}

.min-width {
	min-width: 160px;
}

.card {
	margin-top: 1rem;
	background: #242f69;
}

a.button.card-footer-item {
	background: #242f69;
	color: #f1f1f1 !important;
	border-color: #5e6dab;

}

.card-footer {
	border-color: #5e6dab;
	border: 0;
}

p.subtitle.is-5 {
	color: #f1f1f1 !important;
}

.card-content {
	padding: 0.5rem 0;
	text-align: center;
}

.logo {
	display: flex;
	align-items:center;
 }

h1 {
	padding-left: 1rem;
}

img {
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

/* Otherwise more indented than title */
.hero-body {
	padding: 1.5rem 0rem;
}

.lila {
	border-color: #6257c4 !important;
	background-color: #6257c4 !important;
	box-shadow: 0 4px 12px -2px rgba(98,87,196,.4) !important;
	font-weight: 700;
}

.selected-count {
	padding: 0.15rem 0 0.5rem;
}

.err {
	color: red;
	padding: 0.5rem 0 0 0;
}


.scoreboard {
	padding: 0;
}

p.light {
	color: #fff !important;
}

span.par {
	color: #3d82ec !important;
}

span.parMinus {
	padding-right: 1rem;
}
span.parPlus {
	padding-left: 1rem;
}

.parValue {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.level-item .subtitle, .level-item .title {
	font-size: 2rem !important;
}

.id {
	font-size: 1rem !important;
}

.data {
	color: #dae2e5;
	font-size: 1.5rem;
}

.name, .total, .sign {
	font-size: 1rem;
}
.current {
	color: #fff;
	font-weight: 900;
}

@media only screen and (min-width: 500px) {
	#app {
		width: 480px;
		margin: 0 auto;
	}
 }
